@charset 'UTF-8';

@font-face {
	font-family: 'fontello';
	src: url('fontello.eot?6818387');
	src: url('fontello.eot?6818387#iefix') format('embedded-opentype'),
			 url('fontello.woff?6818387') format('woff'),
			 url('fontello.ttf?6818387') format('truetype'),
			 url('fontello.svg?6818387#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'fontello', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

a [class^="icon-"],
a [class*=" icon-"] {
	display: inline-block;
}

.icon-popup:before { content: '\e800'; } /* 'î ' */
.icon-upload:before { content: '\e801'; } /* 'î ' */
.icon-download:before { content: '\e802'; } /* 'î ' */
.icon-food:before { content: '\e803'; } /* 'î ' */
.icon-lock:before { content: '\e804'; } /* 'î ' */
.icon-search:before { content: '\e805'; } /* 'î ' */
.icon-list:before { content: '\e806'; } /* 'î ' */
.icon-list-alt:before { content: '\e807'; } /* 'î ' */
.icon-cancel:before { content: '\e808'; } /* 'î ' */
.icon-help-circled:before { content: '\e809'; } /* 'î ' */
.icon-export:before { content: '\e80a'; } /* 'î ' */
.icon-play:before { content: '\e80b'; } /* 'î ' */
.icon-edit:before { content: '\e80c'; } /* 'î ' */
.icon-zoom-in:before { content: '\e80d'; } /* 'î ' */
.icon-zoom-out:before { content: '\e80e'; } /* 'î ' */
.icon-angle-down:before { content: '\e80f'; } /* 'î ' */
.icon-right-open-big:before { content: '\e810'; } /* 'î ' */
.icon-left-open-big:before { content: '\e811'; } /* 'î ' */
.icon-star:before { content: '\e812'; } /* 'î ' */
.icon-ticket:before { content: '\e814'; } /* 'î ' */
.icon-arrows-ccw:before { content: '\e815'; } /* 'î ' */
.icon-cw:before { content: '\e816'; } /* 'î ' */
.icon-ccw:before { content: '\e817'; } /* 'î ' */
.icon-forward:before { content: '\e818'; } /* 'î ' */
.icon-resize-full:before { content: '\e819'; } /* 'î ' */
.icon-home:before { content: '\e81a'; } /* 'î ' */
.icon-minus-circled:before { content: '\e81d'; } /* 'î ' */
.icon-tag:before { content: '\e81e'; } /* 'î ' */
.icon-minus:before { content: '\e821'; } /* 'î Ą' */
.icon-clock:before { content: '\e822'; } /* 'î ˘' */
.icon-spin:before { content: '\e823'; } /* 'î Ł' */
.icon-list-add:before { content: '\e824'; } /* 'î ¤' */
.icon-ok:before { content: '\e825'; } /* 'î Ľ' */
.icon-down-open-big:before { content: '\e826'; } /* 'î Ś' */
.icon-up-open-big:before { content: '\e827'; } /* 'î §' */
.icon-print:before { content: '\e828'; } /* 'î ¨' */
.icon-barcode:before { content: '\e829'; } /* 'î Š' */
.icon-ok-circled:before { content: '\e82a'; } /* 'î Ş' */
.icon-plus:before { content: '\e82b'; } /* 'î Ť' */
.icon-angle-right:before { content: '\e82c'; } /* 'î Ź' */
.icon-sort:before { content: '\e82d'; } /* 'î ­' */
.icon-money:before { content: '\e82f'; } /* 'î Ż' */
.icon-user:before { content: '\e830'; } /* 'î °' */
.icon-users:before { content: '\e831'; } /* 'î ą' */
.icon-asterisk:before { content: '\e832'; } /* 'î ˛' */
.icon-settings:before { content: '\e835'; } /* 'î ľ' */
.icon-camera:before { content: '\e836'; } /* 'î ś' */
.icon-login:before { content: '\e837'; } /* 'î ˇ' */
.icon-logout:before { content: '\e838'; } /* 'î ¸' */
.icon-basket:before { content: '\e83a'; } /* 'î ş' */
.icon-credit-card:before { content: '\e83c'; } /* 'î ź' */
.icon-mail:before { content: '\e83e'; } /* 'î ž' */
.icon-warehouse:before { content: '\e83f'; } /* 'î ż' */
.icon-clipboard:before { content: '\e840'; } /* 'îĄ' */
.icon-inbox:before { content: '\e841'; } /* 'îĄ' */
.icon-chart-pie:before { content: '\e842'; } /* 'îĄ' */
.icon-monitor:before { content: '\e844'; } /* 'îĄ' */
.icon-up-dir:before { content: '\e845'; } /* 'îĄ' */
.icon-attention-circled:before { content: '\e846'; } /* 'îĄ' */
.icon-info-circled:before { content: '\e847'; } /* 'îĄ' */
.icon-check-1:before { content: '\e848'; } /* 'îĄ' */
.icon-birthday:before { content: '\e849'; } /* 'îĄ' */
.icon-slideshare:before { content: '\e84a'; } /* 'îĄ' */
.icon-doc-add:before { content: '\e84e'; } /* 'îĄ' */
.icon-sort-alt-up:before { content: '\e84f'; } /* 'îĄ' */
.icon-sort-alt-down:before { content: '\e850'; } /* 'îĄ' */
.icon-plus-squared-alt:before { content: '\e851'; } /* 'îĄ' */
.icon-angle-up:before { content: '\e852'; } /* 'îĄ' */
.icon-cinema:before { content: '\e853'; } /* 'îĄ' */
.icon-heart:before { content: '\e854'; } /* 'îĄ' */
.icon-archive:before { content: '\e855'; } /* 'îĄ' */
.icon-publish:before { content: '\e857'; } /* 'îĄ' */
.icon-code:before { content: '\f121'; } /* 'ďĄ' */
.icon-calendar:before { content: '\f133'; } /* 'ďł' */
.icon-wheelchair:before { content: '\f193'; } /* 'ď' */
.icon-vcard:before { content: '\f2bc'; } /* 'ďź' */

/* Animation */

.animate-spin {
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	display: inline-block;
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-ms-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.animate-spin-reverse {
	-moz-animation-direction: reverse;
	-o-animation-direction: reverse;
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
}